.menuprincipal_footer{
    background-color: #C70039 !important;
  
}
.colorwhite{
    color: white !important;
}
.dashcolor{
    background-color: #C70039 !important;
    color: white !important;
}
body{
    background-color: #1b1b1b;
}
.gifs{
    max-width: 100% !important;
}
.gifs2{
    max-width: 100% !important;
    
}

.gifs3{
    max-width: 100% !important;
}
.colorwhite{
    color: white !important;
}
.btninsta{
    position: relative !important;
    top: 5px;
}
.clasecardm{
    background-color: #00008B;
    max-width: 100% !important;
}
.imgmodal{
    max-width: 100% !important;
}